@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFF6E0;
  --foreground: #242323;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #242323;
    --foreground: #FFF6E0;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}